* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
}

header img {
    display: block;
    margin: 0 auto;
}

.carousel {
    background-color: black;
    padding: 2%;
}

thead tr {
    background-color: black;
    color: white;
}

i.bi-plus-circle {
    padding-right: 10px;
}

table.table-striped {
    text-align: center;
}

button.btn-success {
    border-radius: 20px;
}

.bg-principal {
    background-color: red;
}

/*  */
.carousel-item img {
    height: 540px;
}

.img-size-card {
    max-height: 270px;
}

.d-block {
    border-radius: 30px;
}

div.container-customize {
    padding: 0 2%;
}

.table-responsive td {
    vertical-align: middle;
}

.card {
    margin-bottom: 2%;
}

div.d-flex {
    flex-wrap: wrap;
    justify-content: space-around;
}

div.set-width {
    width: 30%;
}

@media (max-width: 750px){
    header img {
        width: 80%;
    }
    div.d-flex {
        flex-wrap: column;
        justify-content: space-around;
    }

    div.set-width {
        width: 90%;
    }
}

@media (max-width: 500px){

}